/* ----------------------------------- General -----------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

p {
  margin: 0;
}

.padd240 {
  padding-left: 240px;
  padding-top: 90px;
}

.icon {
  min-width: 20px;
  min-height: 30px;
  margin-right: 15px;
  display: inline;
  cursor: pointer;
}

.circle-img {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin: 10px;
  object-fit: cover;
}


.containers {
  /* background: linear-gradient(180deg, #8cc8db 0%, rgba(140, 200, 219, 0) 100%); */
  border-radius: 6px;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.containers::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* ----------------------------------- Left Navigation -----------------------------------*/
.leftContainer {
  position: fixed;
  height: 100vh;
  width: 240px;
  left: 0px;
  top: 0px;
  align-items: center;
  background: rgba(1, 4, 136, 0.9);
  /* background: linear-gradient(
    180deg,
    #181053 -21.94%,
    #301840 17.1%,
    #3f033b 62.89%,
    #592635 110.93%
  ); */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

.nav {
  margin: 20px 15px;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
  gap: 25px;
  width: 210px;
}

.nav .appName {
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  font-style: italic;
}

.nav .navText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav ul {
  list-style: none;
  vertical-align: middle;
  width: 210px;
}

.nav li {
  height: 40px;
  margin: 2px;
  display: flex;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

.nav li a {
  color: inherit;
  text-decoration: none;
  /* height: 100%; */
  margin: 5px 10px;
}

/* ----------------------------------- Heading -----------------------------------*/
.heading {
  padding: 10px;
  margin-left: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: -webkit-fill-available;
  height: 90px;
  top: 0;
  background: linear-gradient(180deg, #8cc8db 0%, rgba(140, 200, 219, 0) 100%);
  border-bottom: 1px solid #2e97ae;
}

.heading .headingGreeting {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: fit-content;
}

.heading .headingNav {
  display: flex;
  align-items: center;
  justify-content: end;
}

.heading .headingNav .user-img {
  cursor: pointer;
}

/* dropdown reference: https://www.youtube.com/watch?v=S-VeYcOCFZw */
.link {
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: gray;
}

/* for any link direct child, when focus, apply this color */
.heading .dropdowns.active > .link,
.link:hover {
  color: black;
}

.heading .dropdowns {
  position: relative;
}

.heading .dropdowns .dropdowns-menu {
  position: absolute;
  right: 0;
  top: calc(100% + 0.25rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.heading .dropdowns .dropdowns-menu > a {
  text-decoration: none;
  color: gray;
}

.heading .dropdowns .dropdowns-menu > a:hover {
  color: black;
}

/* link inside the dropdown, dropdown-menu after the link */
/* .heading .dropdowns .dropdowns.active > .link + .dropdowns-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
} */

.heading .dropdowns.active > .link + .dropdowns-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* ----------------------------------- Nav Friend -----------------------------------*/
.card {
  background-color: transparent;
  margin: 10px 5px;
}

.card .friendList {
  border: solid 1px rgb(46, 73, 81);
  display: flex;
  align-items: center;
  width: 100%;
}

.card .friendList .name {
  display: inline;
  align-items: center;
  margin-left: 10px;
  text-decoration: none;
  color: black;
}


.card .friendList .deleteButton {
  position: absolute;
  right: 20px;
  
}